body{
    margin:0;
    padding:0;
    font-family:"poppins", sans-serif;
}

.clearfix::after{
    content:"";
    display: block;
    clear: both;
}

/* first box starts */

.header-wrapper{
    width:100%;
    height:100%;
    background-image: url(../img/slide01.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    color:#fff;
}

.nav h4{
      float:left;
      font-weight:400;
      margin-left:30px;
}

.nav h5{
    float:right;
    font-weight:400;
    margin-right:30px;
}
.nav .light-text{
    font-weight:200;
    font-size:13px;
}
.nav span{
    padding-right:10px;
}

/* first box banner starts*/
  .banner-text{
      text-align:center;
      margin-top:300px;
     
  }

  .banner-text p{
      font-size:22px;
      letter-spacing: 1px;
  }

  .banner-text hr{
    width:25%
}

.banner-text h1{
    font-size:100px;
    margin-top: 10px;
    font-weight:lighter;
}

/*second box starts */
.full-wrapper{
    width:100%;
    padding:80px 0px;
    background-color:gray;
}

.full-wrapper .fixed-width{
   max-width:1200px;
   margin:0 auto;
   text-align:center;

}
.two-section .fixed-width .left{
    float:left;
    width:45%;
    background-color:#fff;
    padding-bottom:50px;
}

.two-section .fixed-width .right{
    float:right;
    width:45%;
    background-color:#fff;
    padding-bottom:50px;
}
.full-wrapper img{
    width:100%;
}

.two-section h6{
     letter-spacing: 3px;
     color:gray;
     font-weight:400;
     margin-bottom:8px;
}

.two-section hr{
    width:40%;
    margin:0 auto;
    height:0.5px;
    color:gray;
}

.two-section h3{
    font-size: 30px;
    font-weight:400;
    margin-top:8px;
}
.align-left{
    text-align:left;
    margin:0 30px;
    color:gray;
}

.two-section button{
    margin-top:20px;
    height:40px;
    font-family:'poppins',sans-serif;
    border:3px solid gray;
    font-size:15px;
    background:none;
}

/* third box starts */

  .full-quote{
      text-align:center;
      background-image:url(../img/bg.jpg);
      background-size:cover;
      background-position:center;
      background-attachment:fixed;
      color:#fff;
  }

  .full-quote p, .four-image-section p{
       letter-spacing: 4px;
       font-size:13px;
  }

  .full-quote hr, .four-image-section hr{
      width:45%;
    
  }

  .full-quote h5, .four-image-section h5{
      font-size:40px;
      margin:30px 0px;
      font-weight:600;
      letter-spacing: 1px;
  }

  /*four box starts/four image starts */

   .four-images img{
       width:45%;
       float:left;
       margin-bottom:5%;
       border:10px solid #fff;

   }

   .four-images .left{
       margin-left:5%;
   }

   /*five box starts/footer */

   .footer-full{
      background-color:#000;
      color:gray;
   }

   .footer{
       width:50%;
       margin:0 auto;
       text-align:center;
   }

   .footer .fa{
       font-size:25px;
       padding:10px;
   }
